@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
}

html, body{
    font-family: 'Jost', sans-serif;
}

[aria-current]{
    color: rgb(1, 188, 141);
    border-bottom: 2px solid rgb(1, 188, 141);
    padding-bottom: .7rem;
}

.scroll-hidden::-webkit-scrollbar{
    display: none;
}

.bg-green{
    background-color:rgb(3, 210, 158);
}

.green {
    color:rgb(1, 188, 141);
}

.modBg{
    background-color: rgba(73, 73, 73, 0.668);
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table{
    border-spacing: 0 15px;
    border-collapse:separate;
}