@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        
    }
}

[aria-current]{
    color: rgb(1, 188, 141);
    border-bottom: 2px solid rgb(1, 188, 141);
    padding-bottom: .7rem;
}

.scroll-hidden::-webkit-scrollbar{
    display: none;
}

.bg-green{
    background-color:rgb(1, 188, 141);
}

.green {
    color:rgb(1, 188, 141);
}