@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Solitreo&display=swap');

html, body{
  font-family: 'Jost', "Roboto",sans-serif;
}

.user__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #777777;

    .user__con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;

        .user__box {
            display: flex;

            width: 85%;
            box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 15px;
            border-radius: 5px;
            background-color: white;
            gap: 30px;
            padding: 30px;
            padding-bottom: 60px;

            @media screen and (max-width: 750px) {
                width: 90%;
                flex-direction: column-reverse;
            }

            .user__head {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;
                background-color: inherit;

                img {
                    border-radius: 50%;
                    width: 150px;
                    background-color: white;
                }
            }

            .user__infos {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 60%;
                background-color: inherit;
                text-align: left;

                @media screen and (max-width: 750px) {
                    width: 100%;

                }

                .user__info {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    padding: 20px 0px;

                    @media screen and (max-width: 750px) {
                        .user__p1 {
                            width: 50%;
                            background-color: inherit;
                            padding-right: 2px;
                            font-size: 14px;
                        }

                        .user__p2 {
                            width: 50%;
                            background-color: inherit;
                            padding-left: 5px;
                            font-size: 13px;
                        }
                    }

                    .user__p1 {
                        width: 30%;
                        background-color: inherit;
                        padding-right: 2px;
                        font-size: 14px;
                    }

                    .user__p2 {
                        width: 70%;
                        background-color: inherit;
                        padding-left: 5px;
                        font-size: 13px;
                    }
                }

                .odd {
                    background-color: #f6f6f6;
                }
            }

            .user__links {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 40%;
                background-color: inherit;
                text-align: left;

                @media screen and (max-width: 750px) {
                    width: 100%;
                    flex-direction: column;
                }

                .admin-select {
                    width: 100%;
                    height: 50px;
                    font-size: 18px;
                    font-weight: 200;
                }
            }
        }
    }
}